<aside class="sidebar">
    <div class="sidebar-header">
        <a href="/" class="sidebar-brand">
            🚀 Blazor App
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <NavLink class="nav-link" href="/">
                    🏠 Главная
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/userform">
                    📝 Форма
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/table">
                    📊 Таблица
                </NavLink>
            </li>
        </ul>
    </nav>
</aside>
